* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

body {
  background-color: #60d9f1;
  background-color: lightgreen;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.player {
  padding-bottom: 1em;
}

audio::-webkit.media-controls-panel{
  color: darkgreen;
}

.music-player {}

h1 {
  color: darkgreen;
  font-size: 3em;
  padding-bottom: .5em;
  text-shadow: 0.02em 0.02em 1em black;
  text-transform: lowercase;
}

.search {
  padding-bottom: 1.5em;
}

#search-form {
  display: inline-flex;
  font-size: 20px;
}

#search_field {
  font-size: inherit;
  border: 0.2em solid #7e7;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.2em 0.5em;
  outline: 0;
  width: 25em;
}

#search_field:hover,
#search_field:focus {
  border-color: #4d4;
}

#submit_button {
  font-size: inherit;
  border: 0.2em solid #7e7;
  border-radius: 0 0.5em 0.5em 0;
  background-color: #7e7;
  border-left: 0;
  padding: 0 0.7em;
  color: #fff;
/*  font-weight: bold;*/
  outline: 0;
  cursor: pointer;
}

submit_button:hover,
submit_button:focus {
  border-color: #4d4;
  background-color: #4d4;
}

#results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.artist_container {
  align-items: center;
/*  border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
}

img {
  box-shadow: .25em .25em .5em;
  height: 132px;
  width: 150px;
}

img:hover{
  cursor: pointer;
}

.title_artist {
  align-self: center;
}

.title {
  width: 25%;
  font-weight: 900;
}

li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#title {
  font-size: small;
}

#artist {
  font-size: large;
  font-weight: 600; 
}