* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

body {
  background-color: #60d9f1;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {}

.player {}

.music-player {}

.search {}

.search-form {}

.results {}
