* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

body {
  background-color: #60d9f1;
  background-color: lightgreen;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {}

.player {
  padding-bottom: 1em;
}

.music-player {}

.search {
  border-top: 2px solid grey;
  padding: 1em;
  width: 100%;
}

#search-form {
  display: flex;
  justify-content: space-around;
}

.input {
  background-color: lightgrey;
  border: 1px solid black;
  box-shadow: 1px 1px 1px inset;
  height: 2em;
  width: 70%;
}

.submit_container {
  border: 1px solid black;
  border-radius: 1em;
  cursor: pointer;
  text-align: center;
  width: 20%;
}

#results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.artist_container {
  align-items: center;
/*  border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
}

.avatar_container {}

img {
  height: 132px;
  width: 150px;
}

.avatar {}

.title_artist {
  align-self: center;
}

.title {
  width: 25%;
  font-weight: 900;
}

li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#title {
  font-size: small;
}

#artist {
  font-size: large;
  font-weight: 600; 
}